<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2021. All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hryvinskyi\SeoApi\Api\CheckPatternInterface"
                type="Hryvinskyi\Seo\Model\CheckPattern"/>
    <preference for="Hryvinskyi\SeoApi\Api\GetBaseUrlInterface"
                type="Hryvinskyi\Seo\Model\GetBaseUrl"/>
</config>
